body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.search-container {
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
}

.search-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.duckduckgo {
    background-image: url('https://duckduckgo.com/assets/logo_header.v108.png');
    background-color: #de5833;
}

.google {
    background-image: url('https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA');
    background-color: mintcream;
}

.chatgpt {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg');
    background-color: #34a853;
}
